body {
    padding-top: 40px;
    font-family: 'Courier New', monospace;
    text-align: center;
}

.btn-none {
    display: none;
}

#target,#start {
    font-size: 60px;
    letter-spacing: 0.1em;
    margin-top: 50px;
}

#flash {
    font-size: 15px;
}

div {
    margin-top: 20px;
}

