/* common */
body {
    font-family: "Comic Sans MS","HG丸ｺﾞｼｯｸM-PRO" ,sans-serif;
    color: #46361b;
    background-color: rgba(152,145,133,0.2);
}

.common__col--sns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}

.common__twitter_x-btn {
    background-image: url(../img/icon/twitter_x.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
}

.common__github-btn {
    background-image: url(../img/icon/github.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

.common__github-btn:hover,.common__twitter_x-btn:hover {
    transform: translateY(-5px);
    transition: 0.1s;
}

span {
    display: block;
}

/* fadeUp animation */
.fadeUpAnime{
    animation-name:fadeUpAnime;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
        transform: translateY(100px);
    }
    
      to {
        opacity: 1;
      transform: translateY(0);
    }
}
     
.fadeUp{
    opacity: 0;
}

/* header */
.header-list__wrap-responsive,.header-list__wrap-popup {
    display: none;
}

.header-list__wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    z-index: 10000;
}

.header-list__list {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    height: 60px;
    margin: 0;
    background-color: rgba(152,145,133,0.9);
    list-style: none;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.header-list__title-link {
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #46361b;
    transition: color 0.2s ease-in;
    opacity: 1;
}

.header-list__title-link:hover {
    color: rgba(255,255,255,0.3);
}

/* home */
.home__container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 0.05em;
    line-height: 2em;
}

.home__row {
    padding-top: 100px;

}

.home__col--name {
    border-bottom: rgb(107, 141, 107) 2px solid;
}

.home__col--text {
    font-size: 20px;
}

.home__col--img {
    background-image: url(../img/home/myface.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

/* about */
.about__container {
    margin-top: 60px;
    margin-bottom: 60px;
    letter-spacing: 0.05em;
}

.about__row--about {
    text-align: center;
    padding-top: 30px;
}

.about__col--title, .about__col--skill-title {
    text-align: center;
    padding: 0;
    border-right: rgb(107, 141, 107) 2px solid;
}

.about__row--introduction {
    margin-top: 50px;
}

.about__explain--skill-icon {
    display: flex;
    justify-content: space-evenly;
}

.about__row--career,.about__row--qualification,.about__row--skill {
    margin-top: 50px;
}

.about__explain--text {
    font-size: 18px;
    padding-left: 5px;
}

.about__explain--icon {
    height: 50px;
    width: 50px;   
}

.about__explain--html {
    background-image: url(../img/icon/HTML.svg);
    background-size: cover;
    margin: 0;
}

.about__explain--css {
    background-image: url(../img/icon/CSS.svg);
    background-size: cover;
    margin: 0;
}

.about__explain--js {
    background-image: url(../img/icon/JS.svg);
    background-size: cover;
    margin: 0;
}

/* portfolio */
.portfolio__container {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 0.05em;
}

.portfolio__row--portfolio {
    padding-top: 30px;
    letter-spacing: 0.05em;
}

.portfolio__col--yamamaru-wrapper,.portfolio__col--typing-wrapper,.portfolio__col--memo-wrapper,.portfolio__col--prefectures-wrapper {
    margin-top: 30px;
    padding: 0;
}

.portfolio__col--img {
    height: 55vh;
    width: 40vw;
    border: 5px solid rgb(107, 141, 107);
    display: inline-block;
}

/* shadow animation */
.portfolio__col--yamamaru-img,.portfolio__col--typing-img,.portfolio__col--memo-img,.portfolio__col--prefectures-img {
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 6px 8px 5px rgba(47, 46, 46, 0.8);
}
.portfolio__col--yamamaru-img:hover,.portfolio__col--typing-img:hover,.portfolio__col--memo-img:hover,.portfolio__col--prefectures-img:hover {
    box-shadow: 0 0 rgba(47, 46, 46, 0);
    transform: translateY(5px);
    cursor: pointer;
}

.portfolio__col--text {
    margin-top: 16px;
    letter-spacing: 0.05em;
}

/* popup */
.portfolio__popup--overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9950;
}

.portfolio__popup--content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    z-index: 9960;
}

.portfolio__pop--close-btn {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none; 
    cursor: pointer; 
    background-image: url(../img/icon/x-square-white.svg);
    background-size: cover;
}

.portfolio__pop--close-btn:hover {
    background-image: url(../img/icon/x-square-black.svg);
    background-size: cover;
}

.portfolio__popup--title, .portfolio__popup--link-wrap {
    margin-top: 30px;
}

.portfolio__popup--text {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: large;
    width: 90%;
}

.portfolio__popup--img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

.portfolio__popup--link {
    color: black;
    border: rgb(107, 141, 107) 3px inset;
    border-radius: 5px;
    font-size: 30px;
    letter-spacing: 0.05em;
    padding: 0 2px;

}

.portfolio__popup--link:hover {
    cursor: pointer;
    border: rgb(107, 141, 107) 3px outset;
    transform: translateY(-0.5px);
}

/* slide */
.portfolio__slide--overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9970;
}

.portfolio__slide--prefectures-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    z-index: 9980;
}

.slide-items__wrap {
    padding: 0;
    margin-top: 3vh;
}

.slide-items__item {
    height: 70vh;   
    width: 90%; 
    margin: auto;
}

.slick-next{
    right:30px!important;
    z-index: 9960;
}

.slick-prev{
    left:30px!important;
    z-index: 9960;
}

.slick-prev:before, .slick-next:before {
    color: #000;
}

/* contact */
.contact__container {
    margin-top: 60px;
    margin-bottom: 60px;
    letter-spacing: 0.05em;
    text-align: center;
}

.contact__row--contact {
    padding-top: 30px;
}

.contact__input {
    margin-bottom:10px;
}

.contact__textarea {
    height:100px;
}

.contact__col--wrapper {
    margin-top: 15px;
}

.contact__col--text {
    margin-top: 20px;
}

.contact__input, .contact__textarea {
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    background: #d7d7d7;
    color:#46361b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
}
::-webkit-input-placeholder {
    color: #FAFAFA;
}
:-moz-placeholder {
    color: #FAFAFA;  
}
:-ms-input-placeholder {  
    color: #FAFAFA;  
}

.contact__button {
    background-color:rgb(107, 141, 107);
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(107, 141, 107);
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width: 15%;
    color:#fff;
}
.contact__button:hover {
    background:rgb(107, 141, 107);
    opacity: 0.7;
}

/* md（768px以上 992px未満） */
@media screen and (max-width:991px) {
    /* common */
    .header-list__wrap {
        width: 80%;
    }

    /* home */
    .home__col--name {
        text-align: center;
    }

    .home__col--img {
        height: 200px;
        width: 200px;
    }

    /* about */
    .about__explain--name {
        text-align: center;
    }

    .about__col--title {
        border-bottom: rgb(107, 141, 107) 2px solid;
        border-right: 0px;
    }

    .about__col--skill-title {
        border-right: 0;
    }

    .about__explain--text {
        margin-top: 10px;
    }

    .about__explain--skill-icon {
        padding-top: 10px;
    }

    .about__container {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* portfolio */
    .portfolio__col--img {
        height: 60vh;
        width: 70vw;
    }

    .portfolio__popup--content {
        height: 70%;
        width: 70%;
    }


    /* slide */
    .slide-items__item {
        height: 50vh;   
        width: 90%; 
    }

    .portfolio__slide--prefectures-content {
        height: 60%;
        width: 70%;
    }

    /* contact */
    .contact__input, .contact__textarea {
        width: 70%;
    }

    .contact__button {
        padding: 12px 15px;
        width: 15%;
        text-align: center;
    }
}

/* sm（ 768px未満） */
@media screen and (max-width:767px) {
    /* common */
    .header-list__wrap {
        width: 80%;
    }

    .header-list__list {
        padding: 15px 50px;
    }

    .header-list__title {
        margin-left: 20px;
    }

    .header-list__title-link {
        font-size: 20px;
    }

    /* home */
    .home__col--name {
        text-align: center;
    }

    .home__col--img {
        height: 200px;
        width: 200px;
    }

    /* portfolio */
    .portfolio__col--img {
        height: 50vh;
        width: 75vw;
    }

    .portfolio__popup--content {
        height: 85%;
        width: 85%;
    }

    .portfolio__popup--text {
        font-size: medium;
    }

    .portfolio__popup--img {
        height: 20px;
        width: 20px;
    }
    .portfolio__popup--link {
        font-size: 20px;
    }

    /* slide */
    .slide-items__item {
        height: 40vh;   
        width: 90%; 
    }
    .portfolio__slide--prefectures-content {
        height: 50%;
        width: 85%;
    }
}

 /* xs mobile（575px未満） */
@media screen and (max-width:575px) {
    /* common */
    /* responsiveheader */
    .header-list__wrap {
        display: none;
    }

    .header-list__wrap-responsive {
        display: block;
        position: fixed;
        top: 0px;
        right: 0;
        width: 100%;
        z-index: 10000;
    }

    .header-list__list-responsive {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        height: 60px;
        margin: 0;
        background-color: rgba(152,145,133,0.9);
        list-style: none;
    }

    .header-list__title-responsive {
        height: 30px;
        padding: 15px 0;
    }

    .header-list__title-link-responsive {
        padding-top: 15px;     
        font-size: 20px;
        text-decoration: none;
        letter-spacing: 0.05em;
        color: #46361b;
        transition: color 0.2s ease-in;
    }

    .header-list__title-link-responsive:hover {
        color: rgb(53, 109, 100);
    }

    /* hamberger menus */
    .header-list__hamburger {
        background-color: transparent;
        position: relative;
        cursor: pointer;
        height: 60px;
        width: 60px;
    }

    .header-list__title-humberger span {
        position: absolute;
        left: 15px;
        width: 30px;
        height: 4px;
        background-color: #46361b;
        border-radius: 8px;
        transition: ease 0.65s;
    }

    .header-list__title-humberger span:nth-of-type(1) {
        top: 16px;
    }
    .header-list__title-humberger span:nth-of-type(2) {
        top: 28px;
    }
    .header-list__title-humberger span:nth-of-type(3) {
        bottom: 16px;
    }

    .humberger__close span:nth-of-type(1) {
        transform: rotate(135deg);
        top: 28px;
    }
    
    .humberger__close span:nth-of-type(2) {
        opacity: 0;
    }
    
    .humberger__close span:nth-of-type(3) {
        transform: rotate(-135deg);
        top: 28px;
    }

    /* header popup */
    .header-list__wrap-popup {
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        z-index: 9990;
    }

    .header-list__list-popup {
        padding: 10px 80px;
        text-align: center;
        height: 300px;
        margin: 0;
        background-color: rgba(152,145,133,0.9);
        list-style: none;
        border-bottom-left-radius: 90px;
        border-bottom-right-radius: 90px;
    }

    .header-list__title-popup {
        margin-top: 25px;
    }

    .header-list__title-link-popup {
        font-size: 25px;
        text-decoration: none;
        letter-spacing: 0.05em;
        color: #46361b;
        transition: color 0.2s ease-in;
        opacity: 1;
        border-bottom: white 1px solid;
    }

    .header-list__title-link-popup:hover {
        color: rgb(27, 184, 137);
    }

    /* home */
    .home__col--name {
        text-align: center;
    }

    .home__col--img {
        height: 150px;
        width: 150px;
    }
        
    /* portfolio */
    .portfolio__col--img {
        height: 30vh;
        width: 75vw;
    }
    .portfolio__popup--text {
        font-size: 12px;
    }

    /* slide */
    .slide-items__item {
        height: 20vh;   
        width: 90%; 
    }
    .portfolio__slide--prefectures-content {
        height: 30%;
    }

    /* contact */
    .contact__button {
        padding: 12px 5px;
        width: 15%;
        text-align: center;
    }
}

/*
~4k 
@media (max-width:3840px) {
}
 xxl（1400px以上）
@media screen and (min-width: 1400px) {
}
 xl（992px以上 1200px未満） 
@media screen and (max-width: 1400px) {
}
 lg（992px以上 1200px未満） 
@media screen and (max-width: 1200px) {
} 
